{% extends 'Base/index.html.twig' %}
{% block content %}  
    <div>
        <a class="front-logo" title="Callcenteronline" tabindex="-1" ng-href="/" href="/"></a>
        <hr/>

        <div class="container">
            {% block element %}
            {% endblock element %}
        </div>
    </div>

{% endblock content %}
