  
   
    <div class="row">
        <div class="col-md-12 col-sm-12">
                                                            
                                    <form id="grid_core_prototype_associationcontroller_product_search" class="gridSearchForm" action="/Prototype/web/app_dev.php/panel/product/ajaxlist/productcategory/3?objectName=PhantomBundle%5CEntity%5CProduct" method="GET">

                                                                                       
                                        <div class="col-sm-4" >
                                                                                            
                                                                                                        <div class="form-group" >
                                                        <label class="control-label">id</label>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

                                                        <div class="input-group col-md-12">
                                                            <div style='display:none' class='grid-filter-operator input-group-btn search-panel'>
                                                                <button type="button" class="btn btn-default dropdown-toggle grid-filter-menu" data-toggle="dropdown"  >
                                                                    <span class="search_concept">                                                                        eq                                                                                                                                                                                                                        </span> <span class="caret"></span>
                                                                    </button> 

                                                                    <ul class='dropdown-menu grid-filter-menu-caret' role='menu'>
                                                                                                                                                    <li><a href="#" data-value="eq">eq</a></li>
                                                                                                                                                        <li><a href="#" data-value="like">like</a></li>
                                                                                                                                                        <li><a href="#" data-value="btw">btw</a></li>
                                                                                                                                                </ul>
                                                                                                                                        <select class="search_param btn btn-default dropdown-toggle"  name="grid_core_prototype_associationcontroller_product[id][operator]" onchange="grid_core_prototype_associationcontroller_product_switchOperator(this, 'grid_core_prototype_associationcontroller_product__id__query__', false);">

                                                                                                                                                    <option  value="eq"    selected="selected" >eq</option>

                                                                                                                                                    <option  value="like"    >like</option>

                                                                                                                                                    <option  value="btw"    >btw</option>

                                                                                                                                            </select>
                                                                                                                                                                                                        </div>


                                                                
                                                                        
                                                                        <input type="text" value="" class="input grid-filter-input-query-from form-control col-md-12" name="grid_core_prototype_associationcontroller_product[id][from]" id="grid_core_prototype_associationcontroller_product__id__query__from"  style=" display: block;" />
                                                                        <input type="text" value="" class=" input grid-filter-input-query-to form-control col-md-12" name="grid_core_prototype_associationcontroller_product[id][to]" id="grid_core_prototype_associationcontroller_product__id__query__to"  style="display: none;" disabled="disabled" />

                                                                    </div>
                                                                
                                                    </div>
                                                                                                                                                            </div><div class="col-sm-4 ">
                                                    
                                                        
                                                


                                                                                            
                                                                                                        <div class="form-group" >
                                                        <label class="control-label">name</label>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

                                                        <div class="input-group col-md-12">
                                                            <div style='display:none' class='grid-filter-operator input-group-btn search-panel'>
                                                                <button type="button" class="btn btn-default dropdown-toggle grid-filter-menu" data-toggle="dropdown"  >
                                                                    <span class="search_concept">                                                                                                                                                like                                                                        </span> <span class="caret"></span>
                                                                    </button> 

                                                                    <ul class='dropdown-menu grid-filter-menu-caret' role='menu'>
                                                                                                                                                    <li><a href="#" data-value="eq">eq</a></li>
                                                                                                                                                        <li><a href="#" data-value="like">like</a></li>
                                                                                                                                                </ul>
                                                                                                                                        <select class="search_param btn btn-default dropdown-toggle"  name="grid_core_prototype_associationcontroller_product[name][operator]" onchange="grid_core_prototype_associationcontroller_product_switchOperator(this, 'grid_core_prototype_associationcontroller_product__name__query__', false);">

                                                                                                                                                    <option  value="eq"    >eq</option>

                                                                                                                                                    <option  value="like"    selected="selected" >like</option>

                                                                                                                                            </select>
                                                                                                                                                                                                        </div>


                                                                
                                                                        
                                                                        <input type="text" value="" class="input grid-filter-input-query-from form-control col-md-12" name="grid_core_prototype_associationcontroller_product[name][from]" id="grid_core_prototype_associationcontroller_product__name__query__from"  style=" display: block;" />
                                                                        <input type="text" value="" class=" input grid-filter-input-query-to form-control col-md-12" name="grid_core_prototype_associationcontroller_product[name][to]" id="grid_core_prototype_associationcontroller_product__name__query__to"  style="display: none;" disabled="disabled" />

                                                                    </div>
                                                                
                                                    </div>
                                                                                                                                                            </div><div class="col-sm-4 ">
                                                    
                                                        
                                                


                                                                                            
                                                                                                        <div class="form-group" >
                                                        <label class="control-label">price</label>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

                                                        <div class="input-group col-md-12">
                                                            <div style='display:none' class='grid-filter-operator input-group-btn search-panel'>
                                                                <button type="button" class="btn btn-default dropdown-toggle grid-filter-menu" data-toggle="dropdown"  >
                                                                    <span class="search_concept">                                                                        eq                                                                                                                                                                                                                        </span> <span class="caret"></span>
                                                                    </button> 

                                                                    <ul class='dropdown-menu grid-filter-menu-caret' role='menu'>
                                                                                                                                                    <li><a href="#" data-value="eq">eq</a></li>
                                                                                                                                                        <li><a href="#" data-value="like">like</a></li>
                                                                                                                                                        <li><a href="#" data-value="btw">btw</a></li>
                                                                                                                                                </ul>
                                                                                                                                        <select class="search_param btn btn-default dropdown-toggle"  name="grid_core_prototype_associationcontroller_product[price][operator]" onchange="grid_core_prototype_associationcontroller_product_switchOperator(this, 'grid_core_prototype_associationcontroller_product__price__query__', false);">

                                                                                                                                                    <option  value="eq"    selected="selected" >eq</option>

                                                                                                                                                    <option  value="like"    >like</option>

                                                                                                                                                    <option  value="btw"    >btw</option>

                                                                                                                                            </select>
                                                                                                                                                                                                        </div>


                                                                
                                                                        
                                                                        <input type="text" value="" class="input grid-filter-input-query-from form-control col-md-12" name="grid_core_prototype_associationcontroller_product[price][from]" id="grid_core_prototype_associationcontroller_product__price__query__from"  style=" display: block;" />
                                                                        <input type="text" value="" class=" input grid-filter-input-query-to form-control col-md-12" name="grid_core_prototype_associationcontroller_product[price][to]" id="grid_core_prototype_associationcontroller_product__price__query__to"  style="display: none;" disabled="disabled" />

                                                                    </div>
                                                                
                                                    </div>
                                                                                                                                                            </div><div class="col-sm-4 ">
                                                    
                                                        
                                                


                                                                                            


                                                                                    </div>
                                        <div class="grid-search-action">
                                            <input type="submit" class="grid-search-submit btn btn-primary" value="Search"/>
                                            <input type="button" class="grid-search-reset btn btn-default" value="Reset" onclick="return grid_core_prototype_associationcontroller_product_reset();"/>
                                        </div>
                                    </form>
                                                            
                    </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
                                
    <div class="grid">
                    <p class="no_data">No data</p>
            </div>
                    </div>
    </div>

  
