{% extends 'CorePrototypeBundle:Base:index.html.twig'  %}


{% block container %}
    <div>
        <h1>  ale ma kota</h1>
        
        {% block body %}

        {% endblock %}
    </div>
{% endblock %}

