{% extends app.request.isXmlHttpRequest() ? config.get("twig_base_ajax_index") : config.get("twig_base_index") %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            {#<!--<h2>{{ panelName | trans |capitalize  }}:</h2>-->#}
        </div>
    </div>
{% block element %}
    {% endblock element %}
{% endblock content %}