{% extends config.get("twig_base_index") %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>{{ entityName |capitalize  }} list:</h2>
        </div>
    </div>
{% block element %}
    {% endblock element %}
{% endblock content %}